@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bruno+Ace+SC&family=Kaushan+Script&display=swap');
#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: aqua;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color: bisque;
}
header{
    background-color: #ff8a5b;

}
nav a:hover{
    background-color: aqua;
    color: bisque;
}
.book, .join{
    background-color: aquamarine;
    color: burlywood;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: blue;
    color: rgb(204, 198, 111);
}
.msg{
    background-color: cadetblue;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: cornflowerblue;
    color: burlywood;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title{
    color: burlywood;
    font-family: 'Bruno Ace', 'Kaushan Script', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: darkseagreen;
}
.msg h2{
    color: #ff8a5b;
}
.msg p{
    color: #fbfddc;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a{
    color: rgb(0, 255, 115);
    text-decoration: none;
}
footer a:hover{
    color: rgb(0, 255, 85);
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    width: 100%;
}
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}
div#hero-box{
    box-sizing: border-box;
}
body{
    font-family: 'Abril Fatface','Bruno Ace',sans-serif;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}
#logo_link{
    padding-top: 5px;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}